body { 
    min-height: 100vh;
    min-width: 100vw;
}
.root { 
    --grid-cols: 1;
    --grid-rows: 1;
}
#container { 
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 1000px;
    height: 1000px;
}
.grid-item { 
    padding: 1em;
    border: 1px solid #aaa;
    text-align: center;
    color: rgb(0, 100, 155);
    background-color: antiquewhite;
}
.cell { 
    border: 1px solid red;
    min-width: 10px;
    min-height:20px;
    display:inline-block;
}
.grid-item:hover { 
    color: rgb(100, 0, 100);
    background-color: rgb(0, 100, 150);
}